<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node.js  Test App</title>
  <link rel="icon" type="image/png" href="http://nodejs-cloud.com/img/128px/nodejs.png">
  <!-- <link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css"> -->
</head>
<body>
  <%- body %>
</body>
</html>